$color-white: #ffffff;
$color-black: #000000;

$color-gray-98: #faf9f7; // elements light background
$color-gray-95: #f2f2f0; // menu - background
$color-gray-90: #e5e4e1; // every elements border

$color-blue-80: #c2c7cc; // nav, menu, pagination - button border
$color-blue-60: #8a9199; // nav, menu, pagination - button font

$color-blue-30: #212226;
$color-blue-15: #151516;

$color-blue-t: #1982c4;

$color-yellow-100: #ffc336;
$color-red-95: #f26a3d;

$color-social-twitter: #3ea9dd;
$color-social-facebook: #3c5a98;
$color-social-googleplus: #d14836;

$primary-color: $color-blue-t; // define primary color

:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-gray-98: #faf9f7; // elements light background
  --color-gray-95: #f2f2f0; // menu - background
  --color-gray-90: #e5e4e1; // every elements border

  --color-blue-80: #c2c7cc; // nav, menu, pagination - button border
  --color-blue-60: #8a9199; // nav, menu, pagination - button font

  --color-blue-30: #212226;
  --color-blue-15: #151516;

  --color-blue-t: #1982c4;

  --color-yellow-100: #ffc336;
  --color-red-95: #f26a3d;

  --color-social-twitter: #3ea9dd;
  --color-social-facebook: #3c5a98;
  --color-social-googleplus: #d14836;

  --primary-color: $color-blue-t; // define primary color
}

@media (prefers-dark-interface), (prefers-color-scheme: dark) {
  :root {
    --color-gray-98: #212226;
    --color-gray-95: #212226;
    --color-gray-90: #151516;

    --color-blue-80: #8a9199;
    --color-blue-60: #c2c7cc;

    --color-blue-30: #f2f2f0;
    --color-blue-15: #e5e4e1;

    --color-blue-t: #1982c4;

    --color-yellow-100: #ffc336;
    --color-red-95: #f26a3d;

    --color-social-twitter: #3ea9dd;
    --color-social-facebook: #3c5a98;
    --color-social-googleplus: #d14836;
  }
}
